@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Jornada MS DEV  </h1>
</div>

<p>Inicialmente declaramos as variaveis utilizadas no código desenvolvido. Em seguida montamos a classe utilizada para o Elevador e em seguida foram criadas as funções e a partir dela idealizar cenários para a as situações na qual o elevador poderia se encontrar  </p>
